/* UTILITY CLASSES */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.uppercase {
 text-transform: uppercase;
}

.left-nav li:nth-child(1n+2), .main-content-nav li:nth-child(1n+2), #bottom-content li:first-child {
  opacity: 0.5;
}

.left-nav li:hover, .main-content-nav li:hover, #bottom-content li:nth-child(2) {
  opacity: 1;
}

/* END UTILITY CLASSES */


#wrapper {
  background-color: #141922;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

/* MAIN CONTAINER */
main {
  height: calc(100% - 80px);
  background: #ccc;
}
/* END MAIN CONTAINER */


/* LEFT NAV */

.left-nav {
  background-color: #000000;
  float: left;
  width: 220px;
  height: 100%;
  overflow-y: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.spotify-logo  {
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  width: auto;
  height: 40px;
  flex-shrink: 0;
}

#middle-content {
  flex-grow: 1;
}

.left-nav span {
  vertical-align: middle;
}

.left-nav li {
  font-size: 0.8em;
}

.left-nav li:first-of-type {
  padding-top: 20px;
  padding-bottom: 5px;
}

.left-nav li:nth-child(1n+2) {
  padding: 5px 0;
}

.left-nav li>a>img {
  width: 30px;
  vertical-align: middle;
  padding-right: 5px;
}

.playlist {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  position: relative;
  padding: 15px;
}

.playlist span {
  position: absolute;
  transform: translate(-50%, -50%);
  color: #000000;
  font-size: 2em;
}

#bottom-content li:nth-child(2)::before {
  content: '';
  display: inherit;
  border-top: 1px solid #fff;
  margin: 5px 0 15px;
  opacity: 0.5;
}

#bottom-content li:first-child:hover {
  opacity: 1;
}

#bottom-content span {
  padding-left: 5px;
  cursor: pointer;
}

#download-ico {
  height: 20px;
}

#profile-ico {
  background-color: #808080;
  width: 15%;
  border-radius: 50%;
  padding: 5px;
}

/* END LEFT NAV */

.content {
  background: #141922;
  float: left;
  width: calc(100% - 220px);
  height: 100%;
  overflow-y: auto;
}

/* TOP NAV */
.top-nav {
  width: calc(100% - 220px);
  height: 80px;
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
  text-align: right;
  padding-right: 50px;
  line-height: 80px;
  z-index: 1;
}

.top-nav button {
  background-color: inherit;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 40px;
  margin-right: 10px;
}

#premium-button {
  background-color: inherit;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 40px;
  margin-right: 10px;
  transition: padding 0.5s, font-size 0.5s;
}

#premium-button:hover {
  background-color: inherit;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 15px 45px;
  margin-right: 10px;
  transition: padding 0.5s, font-size 0.5s;
  font-size: 1.2em;
}

.main-content-nav {
  margin-top: 90px;
  text-align: center;
  font-weight: bold;
  padding: 15px 0;
}

.main-content-nav li {
  display: inline-block;
  padding: 0 10px;
  font-size: 0.8em;
}

.main-content-nav li:first-of-type::after {
  content: "";
  border-bottom: 2px solid #ADFF2F;
  border-radius: 50%;
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 3px;
}

.main-content-nav li:hover::after {
  content: "";
  border-bottom: 2px solid #ADFF2F;
  border-radius: 50%;
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 3px;
}
/* END TOP NAV */


/* MAIN CONTENT  */
.items-container {
  padding: 15px;
  display: flex;
}

.item {
  max-width: calc(100% / 6 - 20px);
  margin-right: 20px;
  text-align: center;
}

.item-cover {
  position: relative;
  display: flex;
}

.item img {
  max-width: 100%;
}

.item h5 {
  margin-top: 5px;
  font-size: 1em;
}

.play-layover {
  position: absolute;
  top: 0;
  opacity: 0;
}

.play-layover i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ADFF2F;
}

.play-layover:hover {
  opacity: 1;
  cursor: pointer;
}

.play-layover {
  width: 100%;
  height: 100%;
}

.play-layover {
  background-color: rgba(255, 255, 255, 0.4);
}

.popular {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.popular-artists {
  border-radius: 50%;
}

.main-row h1 {
  font-size: 1.8em;
}

.main-row h4 {
  font-size: 0.6em;
}

.main-row h1, .main-row h4 {
  padding-left: 20px;
}

section h4, section h6 {
  font-size: 0.8em;
  padding-top: 5px;
  opacity: 0.5;
}
/* END MAIN CONTENT  */









/* FOOTER */


/*NOW PLAYING*/
#player {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0;
  background-color: #282828;
}

.nowplaying-container {
  flex-basis: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.album-name h6 {
  opacity: 0.5;
}

.nowplaying-container img {
  max-width: 40px;
  margin-right: 10px;
}

.nowplaying-container i {
  font-size: 16px;
}

.album-name {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.album-icons {
  display: flex;
  flex-direction: column;
}

/*END NOW PLAYING*/

/*PLAYER BAR*/
.playerbar-container {
  flex-basis: 50%;
}

.playerbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.progressbar {
  height: 3px;
  flex-grow: 1;
  background-color: #535353;
  border-radius: 5px;
  position: relative;
}

.partial-bar {
  height: 3px;
  width: 25%;
  background-color: #fff;
  border-radius: 5px;
}

.partial-bar:hover, .volume-partial-bar:hover {
  background-color: #ADFF2F;
  cursor: pointer;
}

.partial-bar:hover::before {
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  bottom: -6px;
  left: 23%;
}

.song-progress, .song-lenght {
  padding: 0 20px;
  font-size: 0.6em;
}

.playerbar ul li {
  display: inline;
}

#player .fa-random,
#player .fa-step-backward,
#player .fa-play-circle,
#player .fa-step-forward {
  padding-right: 25px;
}

.fa-random,
.fa-step-backward,
.fa-step-forward,
.fa-redo-alt {
  font-size: 0.8em;
}

#player .fa-play-circle {
  font-size: 1.5em;
}

#player h6:hover {
  text-decoration: underline;
  opacity: 1;
}

.heart, .folder {
  opacity: 0.5;
}

.heart:hover, .folder:hover {
  opacity: 1;
}

.heart i:hover {
  color: #FF0000;
}


.fa-play-circle:hover,
.folder i:hover,
#player .fas:hover {
  color: #ADFF2F;
}

/*END PLAYER BAR*/

/*VOLUME BAR*/
.volume-container {
  flex-basis: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.volume {
  display: flex;
  flex-direction: row;
}

.volume i {
  font-size: 13px;
}

.volume a {
  padding-right: 10px;
}

.volume-bar {
  flex-basis: 30%;
  height: 3px;
  background: #535353;
  border-radius: 2px;
  align-self: center;
  position: relative;
}

.volume-partial-bar {
  height: 3px;
  width: 25%;
  background-color: #fff;
  border-radius: 5px;
}

.volume-partial-bar:hover::before {
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  left: 20%;
}

.fa-volume-up:hover, .fa-list-ul:hover, .fa-desktop:hover {
  overflow: hidden;
}

/*END VOLUME BAR*/

/* END FOOTER */









/* --- MEDIA QUERIES --- */

@media screen and (max-width: 992px) {
  .items-container {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    max-width: calc(100% / 6 - 5px);
    height: auto;
    margin-right: 5px;
  }

  .item h5 {
    padding-top: 5px;
    font-size: 0.5em;
  }

  .item h6 {
    font-size: 0.5em;
  }

}

@media screen and (max-width: 768px) {
  .items-container {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
  max-width: calc(100% / 4 - 5px);
  height: auto;
  margin-right: 5px;
  }

  .item h5 {
    padding-top: 5px;
    font-size: 0.5em;
  }

  .item h6 {
    font-size: 0.5em;
  }

}

@media screen and (max-width: 576px) {
  .left-nav {
    width: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  #top-content {
    flex-grow: 1;
  }

  .disabled-small {
    display: none;
  }

  .spotify-logo {
    background-image: url(../img/logo-small.svg);
    width: 30px;
    background-size: contain;
  }

  #profile-ico {
    width: 100%;
  }

  #bottom-content li:first-child {
    border: none;
  }

  .content {
    background: #141922;
    float: left;
    width: calc(100% - 50px);
    height: 100%;
    overflow-y: auto;
  }

  .top-nav {
    width: calc(100% - 50px);
    height: 80px;
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    text-align: right;
    padding-right: 50px;
    line-height: 80px;
  }

  .items-container {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
  max-width: calc(100% / 2 - 5px);
  height: auto;
  margin-right: 5px;
  }

  .item h5 {
    padding-top: 5px;
    font-size: 0.5em;
  }

  .item h6 {
    font-size: 0.5em;
  }

  .partial-bar:hover::before {
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    bottom: -4px;
    left: 22%;
  }

  .nowplaying-container img {
    max-width: 30px;
    margin-right: 10px;
  }

  .album-name h6, .album-name h5 {
    font-size: 0.6em;
  }

}
