/* UTILITIES CLASSES */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.uppercase {
 text-transform: uppercase;
}

/* END UTILITIES CLASSES */



.wrapper {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}


/* TOP NAV */
.top-nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  background: #080B12;
  height: 80px;
  width: 100%;
  z-index: -1;
}

.top-nav button {
  align-self: center;
  background-color: inherit;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  padding: 10px 40px;
  margin-right: 10px;
}
/* END TOP NAV */


/* LEFT NAV */

.left-nav {
  height: 100%;
  max-width: 220px;
  background-color: #000000;
  color: #fff;
  padding: 20px;
}

.spotify-logo  {
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  width: auto;
  height: 40px;
}

.left-nav span {
  font-size: 30px;
  vertical-align: middle;
}

.left-nav li {
  font-size: 0.8em;
}

.left-nav li:first-of-type {
  padding-top: 25px;
  padding-bottom: 5px;
  opacity: 1;
}

.left-nav li:nth-child(1n+2) {
  padding: 5px 0;
  opacity: 0.5;
}

.left-nav li:hover {
  opacity: 1;
}

.left-nav li>a>img {
  width: 30px;
  vertical-align: middle;
  padding-right: 5px;
}

.playlist {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  position: relative;
  padding: 15px;
}

.playlist span {
  position: absolute;
  transform: translate(-50%, -50%);
  color: #000000;
  font-size: 2em;
}

/* END LEFT NAV */

/* PLAYING BAR */
.playing-bar {
  /* position: sticky;
  top: 0; */
  z-index: -1;
  height: 60px;
  width: 100%;
  background-color: #282828;
}

/* END PLAYING BAR */
